/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Roboto-Bold";
    src: local("Roboto-Bold"), url('./assets/fonts/Roboto-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto-Medium";
    src: local("Roboto-Medium"), url('./assets/fonts/Roboto-Medium.ttf') format("truetype");
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Roboto-Medium';
    overflow-x: hidden;
}


h1,h2,h3{
    font-family: 'Roboto-Bold'!important;
}

.input__container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.input__container input{
    width: 30%;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    padding:0 5px
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: whitesmoke;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: lightgray;
  }